.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.db{
  background-color: rgb(139, 255, 154);
  border-radius: 10px;
}
.db h3{
  text-align: center;
  cursor: pointer;
}
.db-items p{
  text-align: center;
  cursor: pointer;
}
.db-items p:hover{
  background-color: darkgreen;
}
.db-items{
  position: absolute;
  left:1302px;
  top:114px;
  width:306px;
  background-color: rgb(139, 255, 154);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
